* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#filmes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

#filmes div {
  width: 17%;
  margin: 13px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #ddd;
  border: 1px solid #bbb;
  background-color: white;
  transition: ease 1.5s;
}

#filmes div img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.votos {
  background-color: black;
  color: white;
  left: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -30px;
  /* Para trazer a bolinha para frente,altere o empilhamento com z-index com valor alto */
  z-index: 10000;
  position: relative;
  text-align: center;
  padding-top: 8px;
  border: 1.5px solid greenyellow;
  box-shadow: 0px 0px 0px 3px #000;
  padding-top: 10px;
  font-size: 10pt;
  font-family: "times new roman";
}

h2 {
  font-family: "Verdana";
  font-size: 12pt;
  margin: 10px;
}

.data {
  text-align: left;
  margin-left: 12px;
  font-family: "Lucida sans";
  font-size: 9pt;
}

#filmes div:hover {
  cursor: pointer;
  z-index: 100000;
  transform: scale(1.3);
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.8);
}
